image: maven:3.9.6-eclipse-temurin-17

stages:
  - test
  - report

test:
  stage: test
  script:
    - mvn clean test
  artifacts:
    paths:
      - target/allure-results

allure-report:
  stage: report
  image: frankescobar/allure-docker-service
  script:
    - allure generate target/allure-results --clean -o target/allure-report
  artifacts:
    paths:
      - target/allure-report