trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:

  - task: UseJavaVersion@0
    inputs:
      versionSpec: '17'
      architecture: 'x64'

  - task: Maven@3
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean test'
      publishJUnitResults: true
      testResultsFiles: '**/testng-results.xml'

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: 'test-output'
      artifactName: 'TestReports'