version: "3"

services:

  selenium-hub:
    image: selenium/hub:4.18.1
    container_name: selenium-hub
    ports:
      - "4444:4444"
      - "4442:4442"
      - "4443:4443"

  chrome:
    image: selenium/node-chrome:4.18.1
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443

  automation-tests:
    image: maven:3.9.6-eclipse-temurin-17
    depends_on:
      - selenium-hub
    volumes:
      - .:/app
    working_dir: /app
    command: mvn clean test -Dgrid=true